.p-component{
    &:not(:last-child){
        @include mq-up(md){
            margin-bottom: 60px;
        }
        @include mq-between(){
            margin-bottom: 50px;
        }
        @include mq-down(){
            margin-bottom: 40px;
        }
    }
    .c-product{
        &+.c-product{
            margin-top: 20px;
        }
    }
}