.u-visible {
    @include mq-up {

        &-lg,
        &-md,
        &-sm {
            display: none;
        }

        &-xl {
            display: inherit;
        }
    }

    @include mq-between(md-xl) {

        &-xl,
        &-md,
        &-sm {
            display: none;
        }

        &-lg {
            display: inherit;
        }
    }

    @include mq-between {

        &-xl,
        &-lg,
        &-sm {
            display: none;
        }

        &-md {
            display: inherit;
        }
    }

    @include mq-down {

        &-xl,
        &-lg,
        &-md {
            display: none;
        }

        &-sm {
            display: inherit;
        }
    }
}

.u-visible-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    margin: -1px;
}